<span class="day-date">{{unbound dateOfMonth}}</span><br />
{{#if dayEvents}}
    <ul>
        {{#each dayEvents as |event|}}
            {{b-calendar-monthly-cell-entry event=event onEventClicked=(action "onEventClicked")}}
        {{/each}}
    </ul>
{{/if}}
