<span class="day-date">{{unbound dateOfMonth}}</span><br />
{{#if dayEvents}}
    <ul>
        {{#each dayEvents as |event|}}
            <li>
                <span class="event-time">{{moment-hour event.start}}</span>
                <div class="event-label">
                    <span>{{event.title}}</span>
                </div>
            </li>
        {{/each}}
    </ul>
{{/if}}
