<span>{{dateOfMonth}}</span><br />
{{#if dayEvents}}
    <ul>
        {{#each dayEvents as |event|}}
            <li>
                <span class="label">{{event.title}}</span>
                <span class="time">{{moment-hour event.start}}</span>
            </li>
        {{/each}}
    </ul>
{{/if}}
