// Imports
@import './normalize';
@import './skeleton';
@import './sidebar';
@import './calendar';
@import './calendar-modal';
@import './modal';
@import './settings';
@import './animations';
@import './menubar';

// Font
@import 'bower_components/lato/scss/lato';
@import './icons';

// Style
html body {
    font-family: "Lato","Geneva CY","Lucida Grande","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
    overflow: hidden;
    background-color: #fff;
}

[data-ember-action] {
    cursor: pointer;
}

div.main {
    height: calc(100vh - #{$menubar-height});
    padding: 12px;
    background-color: #fff;
    animation: fadein 1.5s;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.button.tiny-button {
    height: 30px;
    line-height: 28px;
}
