@import './skeleton';
@import './colors';

$monthly-cell-width: 14.28571%;

// Calendar Header
.calendarDate {
    display: inline-block;
}

.calendar-header {
    height: 50px;

    .buttons {
        float: right;
    }

    h4 {
        float: left;
        margin-bottom: 0;
    }
}

ul.daynames {
    height: 40px;
    width: 100%;
    margin-bottom: 0px;
    overflow: hidden;
    list-style: none;

    li {
        float: left;
        width: $monthly-cell-width;
        font-size: 14px;
        line-height: 44px;
        text-align: center;
    }
}

// Calendar View
.calendar {
    height: calc(100% - 90px);

    div {
        box-sizing: border-box;
    }

    .monthly-view {
        height: 100%;
        border: 0;
        border-left: 1px solid #d9d9d9;
        border-right: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9;
        overflow: hidden;
    }

    .monthly-row {
        width: 100%;
        height: 16.6667%;
        border-top: 1px solid #d9d9d9;
        overflow: hidden;
    }

    div.monthly-day {
        overflow: hidden;
        float: left;
        border-left: 1px solid #d9d9d9;
        width: $monthly-cell-width;
        height: 100%;
        padding: 4px;

        .day-date {
            font-weight: 700;
        }

        li {
            font-weight: 500;
            font-size: 1.25rem;
            margin: 0;
            padding: 0;
            -webkit-animation: fadein 1s;
            animation: fadein 1s;
            list-style-type: none;
            width: 100%;
            cursor: pointer;

            div.event-label {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            span.event-time {
                font-weight: 300;
                float: right;
                white-space: nowrap;
                color: $butter-color;
            }
        }

        li:hover {
            background-color: $butter-color-light;
            border-radius: 1px;
        }
    }

    div.monthly-day:first-child {
        border-left: none;
    }

    div.outside-month {
        background-color: #f5f5f5;
    }

    div.is-today {
        border: 1px solid $butter-color;
        background-color: $butter-color-light;
    }

    .md-modal.md-event {
        transform-origin: top left;
        width: 320px;
        height: auto;
        top: 0;
        left: 0;
        font-size: 1.5rem;
        font-weight: 300;

        p {
            margin-bottom: 0rem;
            transition: .5s;
        }

        header {
            overflow: auto;
            height: auto;

            span {
                font-weight: 600;
                font-size: 1.5rem;
            }
        }

        section {
            border-bottom: 1px #EFEFEF solid;
            padding: 10px 0;
            height: initial;
        }

        section:first-of-type {
            padding-top: 0;
        }

        section.event-body {
            height: 300px;
        }

        section.event-location {
            p:hover {
                color: $butter-color;
            }
        }

        .md-body {
            height: auto;
        }
    }

    .md-overlay.md-event {
        background: none;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
