@import './skeleton';
@import './colors';

$monthly-cell-width: 14.28571%;

// Calendar Header
.calendarDate {
    display: inline-block;
}

.calendar-header {
    height: 50px;

    .buttons {
        float: right;
    }

    h4 {
        float: left;
        margin-bottom: 0;
    }
}

ul.daynames {
    height: 40px;
    width: 100%;
    margin-bottom: 0px;
    overflow: hidden;
    list-style: none;

    li {
        float: left;
        width: $monthly-cell-width;
        font-size: 14px;
        line-height: 44px;
        text-align: center;
    }
}

// Calendar View
.calendar {
    height: calc(100% - 90px);

    div {
        box-sizing: border-box;
    }

    .monthly-view {
        height: 100%;
        border: 0;
        border-left: 1px solid #d9d9d9;
        border-right: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9;
        overflow: hidden;
    }

    .monthly-row {
        width: 100%;
        height: 16.6667%;
        border-top: 1px solid #d9d9d9;
        overflow: hidden;
    }

    div.monthly-day {
        overflow: hidden;
        float: left;
        border-left: 1px solid #d9d9d9;
        width: $monthly-cell-width;
        height: 100%;
        padding: 4px;

        .day-date {
            font-weight: 700;
        }

        li {
            font-weight: 500;
            font-size: 1.2rem;
            margin: 0;
            padding: 0;
            -webkit-animation: fadein 1s;
            animation: fadein 1s;
            list-style-type: none;
            width: 100%;

            div.event-label {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            span.event-time {
                font-weight: 300;
                float: right;
                white-space: nowrap;
                color: $butter-color;
            }
        }
    }

    div.monthly-day:first-child {
        border-left: none;
    }

    div.outside-month {
        background-color: #f5f5f5;
    }

    div.is-today {
        border: 1px solid $butter-color;
        background-color: $butter-color-light;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
