@import './skeleton';

div.main {
    width: calc(100vw - 270px);
    height: calc(100vh - 20px);
    padding: 10px;
    float: right;
    
    .calendarDate {
        display: inline-block;
        
    }
    
    .calendarHeader {
        margin-bottom: -35px;
        
        .buttons {
            float: right;
        }
    }
}