$yellow: RGBA(249, 176, 28, 1);
$yellow-light: RGBA(248, 247, 181, 1);
$brown: RGBA(67, 29, 11, 1);
$brown-light: RGBA(173, 82, 40, 1);
$butter-color: #E79022;
$butter-color-light: rgba(231,144,34,0.05);
