.settings {
    ul.accounts {
        list-style: none;
        
        li {
            list-style: none;
        }
        
        button {
            float: right;
            margin-top: -19px;
        }
    }
}