{{b-sidebar toggleSettings="toggleSettings"}}

<div class="main">
    {{b-calendar-header
        targetDate=targetDate
        currentView=currentView
        targetDateChangeHandler="targetDateChangeHandler"
        calendarViewChangeHandler="calendarViewChangeHandler"
    }}
    {{b-calendar-monthly
        targetDate=targetDate
        accounts=model
    }}
</div>

{{b-settings isEnabled=settingsVisible}}
